﻿@model SCADT.ViewModels.AddUtilizatorIdViewModel

    <h4>Utilizator</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.utilizator.Firma, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.utilizator.Firma, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.utilizator.Firma, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.utilizator.Jud, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.utilizator.Jud, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.utilizator.Jud, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.utilizator.Localitate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.utilizator.Localitate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.utilizator.Localitate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.utilizator.Adresa, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.utilizator.Adresa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.utilizator.Adresa, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.utilizator.Nr, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.utilizator.Nr, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.utilizator.Nr, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.utilizator.CodDeInregistrare, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.utilizator.CodDeInregistrare, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.utilizator.CodDeInregistrare, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.utilizator.NrInregistrare, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.utilizator.NrInregistrare, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.utilizator.NrInregistrare, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.utilizator.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.utilizator.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.utilizator.Password, "", new { @class = "text-danger" })
        </div>
    </div>
     