﻿@model SCADT.Models.Utilaj

<h3>Esti sigura ca doresti sa stergi Utilajul ?</h3>
<div>
    <h4>Utilaj</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Denumire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Denumire)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", "Utilaje", new { id = Session["Id"] })
        </div>
    }
</div>
