﻿@model IEnumerable<SCADT.Models.Utilaj>
@Html.Partial("_NavBar")
<p>
    @Html.ActionLink("Create New", "Create","Utilaje",new { @class = "btn btn-primary" })
</p>

@if(Model.Count() <= 0)
{
    <div class="alert alert-info">
        <h3 class="lead">Nu aveti utilaje adaugate</h3>
    </div>
}

@if(TempData["check"] != null)
{
    <div class="alert alert-info">
        <h3 class="lead">Utilajul a fost adaugat cu succes</h3>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Denumire)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
         
        <td>
            @Html.DisplayFor(modelItem => item.Denumire)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
