﻿@model SCADT.ViewModels.ControlContentWebSite

@Html.Partial("_NavBar")

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Angajat</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
         
        @Html.Partial("_AddForm")
       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index","OperationAngajat")
</div>
